{% block content %}
<!doctype html>
<html lang="ru_RU">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>Партия № {{ party.id }}
    {% if party.status is True %}
    Активна
    {% else %}
    Не активна
    {% endif %}
</title>

<head>
</head>

<body>
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h3 class="py-3">Партия № {{ party.id }}
                    {% if party.status is True %}
                    <span style="color: green;">Активна</span>
                    {% else %}
                    <span style="color: red;">Не активна</span>
                    {% endif %}
                </h3>
                <h4 class="py-3">Файл {{ party.report_party_file }}</h4>
                <table>
                    {% for item in context_data %}
                    <tr>
                        <td>{{ item.enum }}: </td>
                        <td>{{item.row}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        setTimeout(function () {
            location.reload();
        }, 5000);
    </script>
</body>

</html>

{% endblock content %}